.lz-heading {
  margin: 0 0 16px;
  line-height: 1.3;
  word-wrap: break-word;
}

h1.lz-heading {
  font-size: 2.5em;
}

h2.lz-heading {
  font-size: 2em;
}

h3.lz-heading {
  font-size: 1.75em;
}

h4.lz-heading {
  font-size: 1.5em;
}

h5.lz-heading {
  font-size: 1.25em;
}

h6.lz-heading {
  font-size: 1em;
}
