.lz-row {
  position: relative;
  min-height: 30px;
}

.lz-row-fixed > .lz-col-group {
  max-width: 1170px;
  margin: 0 auto;
}

.lz-col-group {
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
}
